@import './font-awesome/fontawesome.less';
@import './font-awesome/regular.less';
@import './font-awesome/solid.less';

@import 'variables';
@import '_mixins';
@import 'tooltip';

.flow-builder{
	.windows-container{
		position: relative;
	}
	.vdp-datepicker{
		.vdp-datepicker__calendar{
			header{
				box-shadow: none;
				height: 44px;
				padding: 0;
			}
		}
	}
	*{
		box-sizing: border-box;
	}
	a {
		font-size: 15px;
	}
	.hide {
		display: none;
	}
	.checkbox-component {
		display: inline-block;
		& > input {
			height: 18px;
			width: 18px !important;
		}
		label{
			display: block;
			font-size: 15px;
			& > .input-box{
				vertical-align: middle;
			}
		}
	}
	.form-row {
		margin-bottom: 10px;
	}
	select{
		padding: 10px;
		position: relative;
		width: 100%;
		border: 1px solid @gray;
		font-size: @font-base;
		&[disabled]{
			opacity: .5;
		}
		background-color: @white;
		border-radius: 0;
		-webkit-appearance: none;
		font-size: @font-base;
		position: relative;
		background-image: url('../images/select_dropdown.png');
		background-repeat: no-repeat;
		background-size: 30px 18px;
		background-position: right 4px top 12px;
	}

	textarea {
		width: 100%;
		line-height: 20px;
	}

	.initials-icon{
		border-radius: 50px;
		text-align: center;
		background-color: @orange;
		height: 30px;
	    width: 30px;
	    display: inline-block;
	    vertical-align: middle;
	    position: relative;
	    line-height: 30px;
	    span {
	    	position: relative;
	    	font-weight: @wbold;
	    	color: @white;
	    	font-size: 13px;
	    }
	    .no_select;
	}
	.flow-header{
		background-color: @dark-blue;
		color: @white;
		font-weight: @wbold;
		font-size: 15px;
		padding-left: 20px;
		height: 50px;
		display: flex;
		align-items: center;
		.breadcrumb-divider{
			margin : 0 5px 0 10px;
			font-size: 30px;
		}
		input {
			box-shadow: none;
			border: 0;
			background-color: rgba(0,0,0,0);
			color: @white;
			width: auto;
			.placeholder(darken(@white,10%));
			font-size: 15px;
			padding: 0 5px;
			flex-grow: 1;
		}
		.tree-expander{
			margin: 0 10px;
			color: @orange;
			font-size: 30px;
			cursor: pointer;
			transition: transform .25s ease-out;
		}
		.process-header{
			display: flex;
			align-items: center;
			transition: width .5s ease-in-out;
			width: calc(15% + 3px);
			padding-left: 20px;
			border-left: 1px solid @white;
			box-shadow: -7px 0 9px -7px rgba(255,255,255,0.4);
			height: 100%;
			span{
				flex-grow: 1;
			}
			.fa-edit {
				margin: 0 10px;
			}
			.flow-button {
				display: none;
			}
		}
	}
	.flow-windows{
		display: flex;
		.task-list{
			width:35%;
			height: calc(100vh - 120px);
			position: relative;
			border-right: 1px solid @gray;
			box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);
			.list-footer {
				position: absolute;
				bottom:0;
				left: 0;
				width: calc(100% + 1px);
				padding: 10px 20px;
				background-color: @dark-blue;
				a {
					display: inline-block;
					color: @white;
				}
				.clear_after;
			}
			.flow-items{
				height: calc(100% - 40px);
			}
			.task-list-item {
				margin: 5px;
				padding: 5px;
				border: 2px solid @light-gray;
				background-color: rgba(255,255,255,.5);
				&.header{
					border: 1px solid @transparent;
					background-color: @transparent;
					input{
						font-size: 20px;
						font-weight: @wbold;
					}
				}
				input[type="text"]{
					box-shadow: none;
					border: 0;
					background-color: rgba(0,0,0,0);
					color: @black;
					.placeholder(lighten(@black,20%));
					padding: 0 5px;
				}
				&.task{
					.task{
						display: flex;
						min-height: 30px;
						align-items: center;
						input[type="text"] {
							flex-grow: 1;
							font-size: 15px;
						}
						.task-assignment{
							&.user{
								& >.initials-icon {
									background-color: @blue;
								}
							}
							& >.initials-icon{
								cursor: pointer;
							}
							margin-left: 10px;
							position: relative;
							.fas {
								font-size: 20px;
								color: @light-gray;
								cursor: pointer;
								margin-right: 5px;
							}
							.resources-list {
								right: -5px;
								top: 38px;
							    width: 320px;
							    border-radius: 10px 0px 10px 10px;
							    &:before,
							    &:after{
								    top:-14px;
								    right:0px;
								    border: solid 14px transparent;
								    border-top: 0;
								    border-bottom-color:@white;
							    }
							    &:before {
								    top:-15px;
								    z-index:1;
								    border-bottom-color:@gray;
								}
								.tabs{
									min-height: 100px;
							    	max-height: 250px;
							    	overflow: auto;
								}
								.resource-list-item{
									font-size: 14px;
									margin-bottom: 5px;
									color: @black;
									.no_select;
									cursor: pointer;
									.initials-icon{
										margin-right: 10px;
										cursor: pointer;
									}
									&.user{
										.initials-icon {
											background-color: @blue;
										}
									}
								}
							}
						}
					}
				}
				&.active {
					background-color: @blue;
					border: 2px solid @blue;
					color: @white;
					input[type="text"]{
						color: @white;
						.placeholder(darken(@white,20%));
					}
					&.task {
						.task {
							.task-assignment {
								.fas {
									color: @white;
								}
								&.user{
									& >.initials-icon {
										background-color: @white;
										span {
											color: @blue;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.task-widgets {
			width: 50%;
			display: flex;
			.sidenav {
				z-index: 1;
				background-color: @white;
				width: 60px;
				box-shadow: 7px 0px 9px -7px rgba(0,0,0,0.4);
				border-right: 1px solid @gray;
				text-align: center;
				padding: 10px 5px;
				.widget-icon {
					
					text-align: center;
					cursor: pointer;
					position: relative;
					.fas,
					.far{
						font-size: 30px;
						text-align: center;
						&:hover {
							color: @orange;
						}
					}
				}
				.divider {
					margin: 10px 0;
					border: 1px solid @black;
				}
				.h-divider {
					margin: 0 10px;
					border: 1px solid @black;
					display: inline-block;
				}
				.form-widgets{
					top: -10px;
					left: 64px;
					.icons {
						display: flex;
						.widget-icon{
						}
					}
				}
			}
			.widgets-list {
				flex-grow: 1;
				height: calc(100vh - 120px);
				overflow: auto;
				.flow-widget {
					padding: 20px;
					position: relative;
					background-color: @white;
					box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);
					&.alt-row{
						background-color: lighten(@black, 70%);
						
					}
					.delete-widget {
						position: absolute;
						right: 13px;
						top: 13px;
						cursor: pointer;
						background-color: @white;
						border-radius: 50%;
						height: 20px;
						width: 20px;
						z-index: 2;
						.fas {
							color: @red;
							font-size: 20px;
						}
					}
					&.subtasks{
						.subtask-list{
							position: relative;
							.task-list-item {
								margin: 5px 0;
								padding: 5px;
								border: 2px solid @light-gray;
								background-color: rgba(255,255,255,.5);
								&.header{
									border: 1px solid @transparent;
									background-color: @transparent;
									input{
										font-size: 20px;
										font-weight: @wbold;
									}
								}
								input[type="text"]{
									box-shadow: none;
									border: 0;
									background-color: rgba(0,0,0,0);
									color: @black;
									.placeholder(lighten(@black,20%));
									padding: 0 5px;
								}
								.task{
									display: flex;
									min-height: 30px;
									align-items: center;
									input[type="text"] {
										flex-grow: 1;
										font-size: 15px;
									}
									.task-assignment{
										&.user{
											& >.initials-icon {
												background-color: @blue;
											}
										}
										& >.initials-icon{
											cursor: pointer;
										}
										margin-left: 10px;
										position: relative;
									}
								}
								&.active {
									background-color: @blue;
									border: 2px solid @blue;
									color: @white;
									input[type="text"]{
										color: @white;
										.placeholder(darken(@white,20%));
									}
								}
							}
						}
					}
					&.form-field{
						input{
							height: 40px;
							padding-left: 10px;
						}
						.edit {
							input.label,
							input.instructions {
								box-shadow: none;
								border: 0;
								background-color: rgba(0,0,0,0);
								color: @black;
								.placeholder(lighten(@black,20%));
								padding: 0 5px;
								&.label {
									font-weight: @wbold;
									color: @black;
									font-size: 15px;
									padding-left: 0;
									margin-bottom: 5px;
								}
								&.instructions {
									margin-top: 5px;
									padding-left: 0;
									font-style: italic;
								}
							}
						}
						&.select,
						&.checkbox{
							.edit {
								display: flex;
								.field{
									width: 50%;
									padding-right: 15px;
									border-right: 1px solid @light-gray;
								}
								.options {
									padding-left: 10px;
									width: 50%;
									label {
										font-weight: @wbold;
										display: block;
										margin-bottom: 10px;
									}
									.row {
										margin-bottom: 10px;
									}
								}
							}
							.checkboxes{
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
	}
	.pull-left{
		float: left;
	}
	.pull-right{
		float: right;
	}

	.checkbox-component > input + label > .input-box {
		border: 1px solid @blue;
		width: 20px;
		height: 20px;
	}

	.drag-and-drop{
		border: 2px solid @gray;
		padding: 10px;
		&.dragging-over{
			border: 2px solid @blue;
			background-color: rgba(255,255,255,.5);
		}
	    .upload-message{
	    	font-size: 20px;
	    	font-weight: @wbold;
	    	display: none;
	    	margin-bottom: 10px;
	    	color: @orange;
	    	text-align: center;
	    }

	    &.has-drag-and-drop{
	        .upload-message {
	            display: block;
	        }
	    }

	    .file-input {
	        height: 0px;
	        overflow: hidden;
	    }
	    .drop-footer {
	    	text-align: center;
	    	font-size: 11px;
	    	a {
	    		color: @blue;
	    		font-size: 15px;
	    		font-weight: bold;
	    	}
	    }
	}

	.drop-files {
	    .file {
	    	.file-name {
	    		font-weight: @wbold;
	    	}
	        .inner {
	            display: flex;
	            justify-content: space-between;
	            align-items: center;
	            background: white;
	            padding: 1.5em 2em;
	            box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);

	            p {
	                margin: 0;

	                &:first-child {
	                    flex: 1;
	                }

	                &.size {
	                    margin-right: 2em;
	                    color: @light-gray;
	                }
	            }

	            a {
	                background: none;
	                border: none;

	                i {
	                    font-size: 18px;
	                    color: @blue;
	                }
	            }
	        }

	        .progress {
	            position: relative;
	            width: 100%;
	            height: 4px;
	            background: @light-gray;

	            span {
	                position: absolute;
	                top: 0;
	                left: 0;
	                height: 4px;
	                background: @blue;
	            }
	        }

	        &.has-error{
	            .file-name { color: @red; }
	        }
	    }
	}

	.tools-window{
	    position:absolute;
	    padding: 10px;
	    background-color:@white;
	    border-radius: 10px;
	    border: 1px solid @gray;
	    z-index: 1000;
	    &:before,
	    &:after{
	    	content: "\0020";
		    display:block;
		    position:absolute;
		    z-index:2;
		    width: 0;
		    height: 0;
		    overflow:hidden;
	    }
	    &:before {
		    z-index:1;
		}
		.links {
			padding-bottom: 10px;
			border-bottom: 1px solid @light-gray;
			margin-bottom: 10px;
			a{
				display: inline-block;
				color: @black;
				&.active {
					font-weight: @wbold;
					color: @orange;
				}
			}
			.clear_after;
		}
		&.left{
			&:before,
		    &:after{
			    top:-14px;
			    right:0px;
			    border-style: solid;
			    border-bottom-color:@white;
		    }
			&:before {
				top: 14px;
			    bottom: auto;
			    left: -20px;
			    border-width: 11px 20px 11px 0;
				border-color:transparent @gray;
			}
			&:after{
				top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
				bottom:auto;
				left:-18px; /* value = - border-left-width - border-right-width */
				border-width: 9px 18px 9px 0;
				border-color: transparent @white;
			}
		}
	}

	.process-tree {
		background-color: @app-background;
		z-index: 2000;
		transition: width .5s ease-in-out;
		width: 15%;
		padding-left: 20px;
		height: calc(100vh - 120px);
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		border-left: 1px solid @gray;
		box-shadow: -7px 0 9px -7px rgba(0,0,0,0.4);
		.tree-container{
			width: 50vw;
		}
		.process-dropdown {
			display: flex;
			align-items: center;
			padding: 15px 0;
			border-bottom: 1px solid @black;
			label {
				font-size: 1.5em;
				vertical-align: middle;
				margin-right: 15px;
			}
		}
		.search {
			width: 200px;
			position: relative;
			.fas {
				position: absolute;
			    color: @blue;
			    font-size: 16px;
			    top: 12px;
			    left: 8px;
			}
			.search-box {
				border: 2px solid @blue;
				padding: 10px 5px 10px 25px;
			}
		}
		.process-list {
			overflow: auto;
			height: calc(100vh - 145px);
			.process-row{
				&.not-matched {
					& > div > .process-info{
						opacity: .5;
					}
					& > .process-info .fa-expand-arrows-alt {
						opacity: 1;
					}
				}
				.process-info {
					padding: 10px;
				    border-bottom: 1px solid @black;
				    font-size: 20px;
				    position: relative;
					.expander {
						width: 30px;
						cursor: pointer;
						display: inline-block;
						.fas {
							font-size: 25px;
							transition: transform .25s ease-out;
						}
					}
					&.expanded {
						.expander {
							.fas {
								-webkit-transform: rotate(90deg);
							    -moz-transform: rotate(90deg);
							    -o-transform: rotate(90deg);
							    -ms-transform: rotate(90deg);
							    transform: rotate(90deg);
							}
						}
					}
					.fa-expand-arrows-alt {
						position: absolute;
						right: 20px;
						top: 15px;
						opacity: .5;
					}
					&:hover{
						.fa-expand-arrows-alt{
							opacity: 1;
						}
					}
				}
				.process-name {
					font-weight: bold;
				}
				.children {
					margin-left: 50px;
				}
			}
			& > .process-row {
				&:nth-child(even){
					background-color: @white;
				}
				&:nth-child(odd){
					background-color: @app-background;
				}
			}
		}
		.gradient-overlay{
			transition: right .5s ease-in-out;
			width: 100%;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			// gradient
			background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

		}
	}

	.draggable-container{
		position: absolute;
	}

	.draggable-item{
		position: absolute;
	    color: #FFF;
	    padding: 5px 10px;
	    border-radius: 10px;
	    background-color: #003989;
	    z-index: 10000;
	    font-size: 12px;
	    transform: translateX(-50%) translateY(-50%);
	    cursor: pointer;
	    white-space: nowrap;
	}

	&.ptree-expanded {
		.flow-header {
			.tree-expander {
				-webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
			}
			.process-header {
				width: calc(35% + 8px);
			}
		}
		.process-tree {
			width: 35%;
			.gradient-overlay {
				right: -100%;
			}
			.tree-container {
				width: 100%;
			}
		}
	}
	&.ptree-edit {
		.flow-header {
			padding-left: 0;
			.tree-expander {
				display: none;
			}
			& > span,
			& > .breadcrumb-divider,
			& > input {
				display: none;
			}
			.process-header {
				width: 100%;
				border-left: 0;
				box-shadow: none;
				padding-right: 20px;
				.flow-button {
					margin-left: 20px;
					display: inline-block;
				}
			}
		}
		.process-tree {
			width: 100%;
			.process-list {
				.process-row {
					.process-info {
						cursor: grab;
					}
				}
			}
			.tree-container {
				width: 100%;
			}
			.gradient-overlay {
				right: -100%;
			}
		}
	}

	.flow-button {
		display: inline-block;
		padding: 5px 10px;
		border-radius: 6px;
		background-color: @green;
		color: @white;
		font-weight: @wbold;
		text-transform: uppercase;
		&.red {
			line-height: inherit;
			background-color: @red;
		}
	}
}